<div class="credits-container">
  <h1>Credits Section</h1>
  <div class="credits-content">
    <h3>Below are some of the resources we used for the project:</h3>

    <div class="resource-list">
      <ul>
        <li class="resource-item">
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes" target="_blank">
            Keyframes for CSS animation
          </a>
        </li>
        <li class="resource-item">
          <a href="https://socket.io/docs/v4/rooms/" target="_blank">
            Socket.IO Rooms for managing multiple quiz rooms
          </a>
        </li>
        <li class="resource-item">
          <a href="https://angular.dev/guide/routing/read-route-state" target="_blank">
            Angular Routing State Variables - Reading Route State for handling quiz state and LLM responses
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="back-to-home">
    <button class="btn btn-primary" (click)="goHome()">
      Back to Home
    </button>
  </div>
</div>
