<div class="credits-container">
  <h1>Credits Section</h1>
  <div class="credits-content">
    <h3>Below are some of the resources we used for the project:</h3>

    <div class="resource-item">
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes" target="_blank">
        1. Keyframes for CSS animation
      </a>
      <a href="https://socket.io/docs/v4/rooms/" target="_blank">
        2. Socket.IO Rooms for managing multiple quiz rooms
      </a>
      <a href="https://angular.dev/guide/routing/read-route-state" target="_blank">
        3. Angular Routing State Variables - Reading Route State for handling quiz state and LLM responses
      </a>

    </div>
  </div>

  <div class="back-to-home">
    <button class="btn btn-primary" (click)="goHome()">
      Back to Home
    </button>
  </div>
</div>
