<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/" class="brand">OpenQuizzer</a>
    <button routerLink="/" class="nav-btn">Home</button>
    <button routerLink="/pay" class="nav-btn">HomePage</button>
    <button routerLink="/quiz-master" class="nav-btn">Dashboard</button>
    <button routerLink="/quiz-taker" class="nav-btn">Enter Quiz PIN</button>
  </div>

  <div class="nav-right">
    <button routerLink="/login" class="nav-btn">Login</button>
    <button routerLink="/signup" class="nav-btn">Signup</button>
    <button routerLink="/account" class="nav-btn">Account</button>
    <button class="nav-btn signout-btn">Sign Out</button>
  </div>
</nav>
