<nav class="navbar">
  <div class="navbar-content">
    <a routerLink="/home" class="brand">OpenQuizzer</a>

    <button routerLink="/home" class="nav-btn" [disabled]="!isAuthenticated">Home</button>

    <!-- Show login/signup only if NOT authenticated -->
    <button routerLink="/login" class="nav-btn" *ngIf="!isAuthenticated">Login</button>
    <button routerLink="/signup" class="nav-btn" *ngIf="!isAuthenticated">Signup</button>

    <!-- Show account and logout only if authenticated -->
    <button routerLink="/account" class="nav-btn" [disabled]="!isAuthenticated">Account</button>
    <button class="nav-btn" (click)="logout()"  [disabled]="!isAuthenticated">Sign Out</button>
  </div>
</nav>