<div class="quiz-list-container">
<div class="header">
    <h1>Quiz List</h1>
    <button class="btn btn-secondary" (click)="goBack()">Back to Quiz Master</button>
    <p>Choose a quiz to start:</p>
</div>

<!-- Placeholder to display fetched quizzes -->
<div class="quiz-list">
    <div class="quiz-item">
    </div>
</div>

<!-- Example quiz button  (just for testing) -->
<div>
    <button class="btn btn-primary" (click)="activateQuiz('000000')">
        Start Example Quiz
    </button>
</div> 
